* {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: grid;
  justify-content: center;
  background-color: #e4e9f7;
  font-family: "Segoe UI", sans-serif;
  border-bottom: 1px solid gray;
}
h1 {
  margin-top: 2%;
  font-size: 50px;
}
#list1 {
  font-size: 25px;
  margin-bottom: 2%;
}

.rest {
  padding-top: 2%;
  border-top: 1px solid gray;
  background-color: #e4e9f7;
  padding-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: grid;
  justify-content: center;
}

.link {
  margin-top: 20px;
  display: block;
  font-family: "Segoe UI", sans-serif;
  height: 50px;
  font-size: 28px;
  font-weight: 700;
  background-color: #695cfe;
  border-radius: 10px;
  border-width: 0px;
  color: white;
}
.link:hover {
  background-color: #8895a2;
  cursor: pointer;
}

.link1 {
  text-decoration: none;
}

.head1 {
  padding-top: 2%;
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", sans-serif;
  color: brown;
  background-color: white;
  font-style: italic;
  padding-bottom: 10px;
}
.para1 {
  text-align: center;
  font-size: 25px;
  font-family: "Segoe UI", sans-serif;
  font-style: oblique;
  color: blueviolet;
  background-color: white;
  padding-bottom: 10px;
}
.ul1 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-family: "Franklin Gothic Medium", sans-serif;
  color: goldenrod;
  background-color: white;
  padding-bottom: 2%;
}
.li1 {
  background-color: white;
  padding-bottom: 10px;
}
body {
  background-color: #e4e9f7;
}
